<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.notice.NoticeMapper">

    <select id="NoticeList" resultType="com.smhrd.notice.NoticeVO">
        SELECT * FROM tb_notice
    </select>

    <select id="getNotice" parameterType="int" resultType="com.smhrd.notice.NoticeVO">
        SELECT * FROM tb_notice WHERE notice_idx = #{notice_idx}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM tb_notice
    </select>

    <select id="getNoticesByPage" resultType="com.smhrd.notice.NoticeVO">
    <![CDATA[
        SELECT * FROM (
            SELECT ROWNUM rn, a.*
            FROM (
                SELECT * FROM tb_notice ORDER BY created_at DESC
            ) a
            WHERE ROWNUM <= #{endRow}
        )
        WHERE rn >= #{startRow}
    ]]>
    </select>

    <update id="updateNoticeViews" parameterType="int">
        UPDATE tb_notice SET notice_views = notice_views + 1
        WHERE notice_idx = #{noticeIdx}
    </update>
    
    
    
    
    
    
    
	<select id="NoticeSearch" resultType="com.smhrd.notice.NoticeVO">
		select * from tb_notice
		<where>
			<choose>
				<when test="param1 == 'notice_title'">
					notice_title LIKE '%' || #{param2} || '%'
				</when>
				<when test="param1 == 'notice_content'">
					notice_content LIKE '%' || #{param2} || '%'
				</when>
				<otherwise>
					admin_id = null
				</otherwise>
			</choose>
		</where>
	</select>

	<insert id="write" parameterType="com.smhrd.notice.NoticeVO">
		insert into tb_notice(notice_title, notice_content, notice_file, created_at,
		updated_at, notice_views, admin_id) values(
		#{notice_title},
		#{notice_content}, #{notice_file, jdbcType=VARCHAR}}, systimestamp, systimestamp,
		#{notice_views}, #{admin_id}
		)
	</insert>
    
    
    

</mapper>
