<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.news.NewsMapper">

	<select id="NewsList" resultType="com.smhrd.news.NewsVO">
		SELECT * FROM tb_news 
	</select>

    <select id="getNews" parameterType="int" resultType="com.smhrd.news.NewsVO">
        SELECT * FROM tb_news WHERE news_idx = #{news_idx}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM tb_news
    </select>

    <select id="getNewssByPage" resultType="com.smhrd.news.NewsVO">
    <![CDATA[
        SELECT * FROM (
            SELECT ROWNUM rn, a.*
            FROM (
                SELECT * FROM tb_news ORDER BY created_at DESC
            ) a
            WHERE ROWNUM <= #{endRow}
        )
        WHERE rn >= #{startRow}
    ]]>
    </select>

    <update id="updateNewsViews" parameterType="int">
        UPDATE tb_news SET news_views = news_views + 1
        WHERE news_idx = #{newsIdx}
    </update>
    
    
    
    
    
    
	<select id="NewsSearch" resultType="com.smhrd.news.NewsVO">
		select * from tb_news
		<where>
			<choose>
				<when test="param1 == 'news_title'">
					news_title LIKE '%' || #{param2} || '%'
				</when>
				<when test="param1 == 'news_content'">
					news_content LIKE '%' || #{param2} || '%'
				</when>
				<otherwise>
					admin_id = null
				</otherwise>
			</choose>
		</where>
	</select>

	<insert id="write" parameterType="com.smhrd.news.NewsVO">
		insert into tb_news(news_title, news_content, news_file, created_at,
		updated_at, news_views, admin_id) values(
		#{news_title},
		#{news_content}, #{news_file, jdbcType=VARCHAR}}, systimestamp, systimestamp,
		#{news_views}, #{admin_id}
		)
	</insert>
    
    
    

</mapper>
