<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.qna.QnaMapper">

   <select id="QnaList" resultType="com.smhrd.qna.QnaVO">
      SELECT * FROM tb_qna
   </select>

    <select id="getQna" parameterType="int" resultType="com.smhrd.qna.QnaVO">
        SELECT * FROM tb_qna WHERE qna_idx = #{qna_idx}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM tb_qna
    </select>

	<select id="getTotalCountBySearch" resultType="int">
		select count(*) from tb_qna
		<where>
			<choose>
				<when test="searchValue == 'qna_title'">
					qna_title LIKE '%' || #{searchContent} || '%'
				</when>
				<when test="searchValue == 'qna_content'">
					qna_content LIKE '%' || #{searchContent} || '%'
				</when>
				<when test="searchValue == 'id'">
					id LIKE '%' || #{searchContent} || '%'
				</when>
				<otherwise>
					id is null
				</otherwise>
			</choose>
		</where>
	</select>
	
    <select id="getQnasByPage" resultType="com.smhrd.qna.QnaVO">
    <![CDATA[
        SELECT * FROM (
            SELECT ROWNUM rn, a.*
            FROM (
                SELECT q.*, an.answer_idx FROM tb_qna q left join tb_answer an on q.qna_idx = an.qna_idx ORDER BY q.created_at DESC
            ) a
            WHERE ROWNUM <= #{endRow}
        )
        WHERE rn >= #{startRow}
    ]]>
    </select>

    <update id="updateQnaViews" parameterType="int">
        UPDATE tb_qna SET qna_views = qna_views + 1
        WHERE qna_idx = #{qnaIdx}
    </update>
    
    <!-- 검색기능 -->
   <select id="QnaSearch" resultType="com.smhrd.qna.QnaVO">
      SELECT * FROM (
		SELECT ROWNUM rn, a.*
            FROM(
		select * from tb_qna
		<where>
			<choose>
				<when test="searchValue == 'qna_title'">
					qna_title LIKE '%' || #{searchContent} || '%'
				</when>
				<when test="searchValue == 'qna_content'">
					qna_content LIKE '%' || #{searchContent} || '%'
				</when>
				<when test="searchValue == 'id'">
					id LIKE '%' || #{searchContent} || '%'
				</when>
				<otherwise>
					id is null
				</otherwise>
			</choose>
		</where>
		ORDER BY created_at DESC) a	      
		<where> 
			<![CDATA[
        	ROWNUM <= #{endRow}
    		]]>
		</where> 
		) <![CDATA[
		WHERE rn >= #{startRow}
		]]>
   </select>
   
   <!-- 글쓰기 기능 -->
   <insert id="write" parameterType="com.smhrd.qna.QnaVO">
      insert into tb_qna(qna_title, qna_content, qna_file, created_at,
      qna_views, id) values(
      #{qna_title}, #{qna_content}, #{qna_file, jdbcType=VARCHAR}, systimestamp, #{qna_views}, #{id}
      )
   </insert>
   
   
   <!-- 글 수정 기능 -->
   <select id="selectQnaByNo" parameterType="int"
      resultType="com.smhrd.qna.QnaVO">
      SELECT qna_idx, qna_title, qna_content, qna_file, qna_views,
      id, created_at
      FROM tb_qna
      WHERE qna_idx = #{qna_idx}
   </select>

   <update id="updateQnaEdit"
      parameterType="com.smhrd.qna.QnaVO">
      UPDATE tb_qna
      SET qna_title = #{qna_title},
      qna_content = #{qna_content},
      qna_file = #{qna_file, jdbcType=VARCHAR}
      WHERE qna_idx = #{qna_idx}
   </update>
   
   <!-- 게시글 삭제 -->
   <delete id="deleteQnaByNo" parameterType="int">
      DELETE FROM tb_qna WHERE qna_idx = #{qna_idx}
   </delete>
   <delete id="deleteQnaAnswerByQnaIdx" parameterType="int">
      DELETE FROM tb_answer WHERE qna_idx = #{qna_idx}
   </delete>
   
   
   
   <!-- 댓글 달기 수정 -->
   <select id="getAnswerByQnaIdx" resultType="com.smhrd.qna.QnaVO">
       SELECT * FROM tb_answer WHERE qna_idx = #{qna_idx}
   </select>
   
   <insert id="insertAnswer" parameterType="com.smhrd.qna.QnaVO">
       INSERT INTO tb_answer (qna_idx, answer_content, created_at, admin_id)
       VALUES (#{qna_idx}, #{answer_content}, SYSTIMESTAMP, #{admin_id})
   </insert>
   
   <update id="updateQnaAnswer" parameterType="com.smhrd.qna.QnaVO">
       UPDATE tb_answer SET answer_content = #{answer_content}
       WHERE answer_idx = #{answer_idx}
   </update>
   
   <delete id="deleteQnaAnswer" parameterType="int">
       DELETE FROM tb_answer WHERE answer_idx = #{answer_idx}
   </delete>
   
   
   <!-- 마이페이지 -->
    <select id="MyQna" resultType="com.smhrd.qna.QnaVO">
    <![CDATA[
        SELECT * FROM (
            SELECT ROWNUM rn, a.*
            FROM (
                SELECT * FROM tb_qna 
                WHERE ID = #{id}
                ORDER BY created_at DESC
            ) a
            WHERE ROWNUM <= #{endRow}
        )
        WHERE rn >= #{startRow}
    ]]>
    </select>   
   
</mapper>